Body {
    background-color: lightgray;
}

#adminLogo {
    text-align: center;
    margin-top: 2%;
}

#GridViewInsert {
    margin:0.5% 15% 0 15%;
    border-color: black;
    border-bottom-style: solid;
    background-color: grey;
}

#GridViewAdmin {
    margin-top: 0.5%;
    margin-left: 15%;
    margin-bottom:5%;
    border-color: black;
    border-bottom-style: solid;
    background-color: grey;
    width: 70%;
}

#søkefelt {
    padding-top: 0.5%;
    float: right;
}

#knapperAktivInaktiv {
    margin-bottom:2%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 0.5% 0 0.5% 0;
}

#btnDeaktiverte {
    width: 13.5%;
}

#btnAktiv {
    width: 13.5%;
}

#overskriftInsert { 
    margin-top: 5%;
    margin-bottom:2%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 0.5% 0 0.5% 0;
}

#beskjedTilBruker {
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 1%;
}

.gridView th {
    background: url(../Resources/grd_head.png) repeat-x top;
    background-size: 100%;
    color: black;
    border-color: grey;
}

.gridView .alt {
    background: url(../Resources/grd_alt.png) repeat-x top;
    background-size: 100%;
}

.gridViewHeader a {
    color: black;
}
