body {
    background-color: lightgray;
}

.leggTilTask{
    margin-left:40%;
    margin-right:30%;
    margin-top:2%;
}

#divLagre{
    margin-top:3%;
    text-align:center;
}

#BtnLagreTask{
    width:15%;
}

#overskrift{
    margin:5% 30% 3% 40%;
    border-bottom:solid 2px black;
}

#lbBeskrivelse{
    vertical-align:top;
}

#timerAllokert{
    width:3%;
}

.textbox{
    float:right;
}

