body {
    background-color:lightgray;
}

#overskrift{
    margin:5% 30% 5% 40%;
    border-bottom:solid 2px black;
}

.nyHovedtask{
    margin:1% 5% 0 5%;
}

#btnLagreHovedtask{
    text-align:center;
}

.divLagre{
    margin-top:3%;
    text-align:center;
}

#lbBeskrivelse{
    vertical-align:top;
}

.hovedtaskNavn{
    float:right;
}

.beskrivelse{
    float:right;
}

.id{
    float:right;
}

.nyTask{
    float:right;
}
