
Body{
    background-color:lightgray;
}

#prosjektvalg{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
#GridViewProject {
    align-items:center;
    margin-top: 0.5%;
    margin-left: 15%;
    border-color: black;
    border-bottom-style: solid;
    background-color: white;
    width: 70%;
}
